body{
    background-color: #e1bbbb;
}
.onet{
    color: rgb(0, 0, 0);
}
.twot{
    color: blueviolet;
    text-align: center;
}
.onep{
    text-align: center;
}
.twop{
    text-align: center;
}
#TT{
    font-family: 'Open Sans', sans-serif;
    color: rgb(84, 0, 117);
    text-align: center;
    font-family: sans-serif;
}